.test {
  color: orange;
}
.folders {
  list-style: none;
}
.folders li {
  display: inline-block;
  float: left;
  margin-left: 10px;
  border: 1px solid #efefef;
  padding: 10px;
}
.folders li.selected {
  background-color: rgba(255, 140, 0, 0.5);
}
.folders {
  display: inline-block;
}
.profitWarning {
  color: lightgreen;
}
