@primary_color: darkorange;

.test {
  color: orange;
}

.folders {
  list-style: none;

  li {
    display: inline-block;
    float: left;
    margin-left: 10px;
    border: 1px solid #efefef;
    padding: 10px;

    &.selected {
      background-color: fade(@primary_color, 50%);
    }
  }
}
